// -------------------------------
// OBJECTS
// -------------------------------

// Responsive iFrame -------------

.iframe-container {
  height: 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// Audio Embed -------------------
// Container for the audio embeds
// from Changelog and others
// -------------------------------

.audio-embed {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

// Card --------------------------
// Basically a reusable panel that
// sits behind anything.
// -------------------------------

.card {
  padding: 3.5rem 0;

  @media #{$medium-up} {
    border-radius: $global-radius;
  }

  h2 {
    margin-top: 0;
  }
}

.card--large {
  margin: 2.2rem 0;
}

.card--light {
  background-color: var(--light-bg);
  color: var(--text);

  h2 {
    color: var(--heading);
  }
}

// Slash List --------------------
// List component with little sla-
// shes in between items.
// -------------------------------

.slash-list {
  display: flex;
  flex-wrap: wrap;

  li {
    align-items: center;
    display: flex;
    font-size: $ratio-1;
    line-height: 1.2;

    + li {
      &:before {
        color: var(--light-text);
        content: '/';
        margin-left: 0.6rem;
        margin-right: 0.6rem;
      }
    }
  }
}

.slash-list__title {
  line-height: 1;
  font-size: $ratio-1;
  margin-bottom: 0.4rem;
  margin-top: 0;
}

// -----------------------------------------
// CARBON AD STYLES
// -----------------------------------------

.bc-ad-container {
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
  .posts & {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .page-post & {
    margin-top: 5rem;
  }

  .page-category & {
    margin-top: 5rem;
  }
}

.carbon-wrap {
  align-items: center;
  background-color: var(--light-bg);
  border-radius: 2px;
  display: grid;
  grid-gap: $ratio;
  grid-template-columns: 130px auto;
  padding: $ratio-1;
  a {
    color: var(--text);
    font-weight: normal;
    text-decoration: none;
  }
}

.carbon-img {
  background-color: white;
  display: block;
  max-height: 100px;
}

.carbon-text {
  display: block;
  font-size: $ratio-2;
  line-height: 1.5;
  text-align: left;
}

.carbon-poweredby {
  display: block;
  font-size: $ratio-2;
  line-height: 1;
  margin-top: $ratio-2;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
