// -----------------------------------------
// BITS
// -----------------------------------------

// COLORS ------------------------
$primary-color: #ff008f;
$secondary-color: #161f2d;
$alt-color: #ffe000;

// TEXT COLOR --------------------
$body-color: #31445d;
$heading-color: $secondary-color;
$light-text-color: desaturate(lighten($heading-color, 40%), 15%);
$highlight-color: #fffedb;
$link-color: #0993cb;
$link-underline: lighten(saturate($link-color, 10%), 40%);

// BG AND BORDER COLORS ----------
$border-color: lighten($secondary-color, 76%);
$light-bg-color: lighten($secondary-color, 81%);

:root {
  --primary: #ff008f;
  --primary-active: #e60081;
  --primary-border: #ffdbef;
  --primary-bg: #fff0f8;
  --secondary: #161f2d;
  --alt: #ffe000;
  --text: #31445d;
  --heading: var(--secondary);
  --light-text: #70829f;
  --highlight: #fffedb;
  --link: #0993cb;
  --link-underline: #a1e4ff;
  --border: #dae1ed;
  --light-bg: #ebeff5;
  --code-bg: #f6f3f2;
}

// GLOBAL RADIUS
$global-radius: 2px;

// -----------------------------------------
// MEDIA QUERIES
// -----------------------------------------

$small-only: 'screen and (max-width: 39.9375em)';
$medium-up: 'screen and (min-width: 40em)';
$medium-only: 'screen and (min-width: 40em) and (max-width: 63.9375em)';
$large-up: 'screen and (min-width: 64em)';
$large-only: 'screen and (min-width: 64em) and (max-width: 74.9375em)';
$large-up: 'screen and (min-width: 64em)';
$xlarge-up: 'screen and (min-width: 90.063em)';
$xlarge-only: 'screen and (min-width: 90.063em) and (max-width: 120em)';
$xxlarge-up: 'screen and (min-width: 120.063em)';

// -----------------------------------------
// TYPOGRAPHY
// -----------------------------------------

$font-text: Whitney SSm A, Whitney SSm B, system, -apple-system,
  BlinkMacSystemFont, Avenir, sans-serif;
$font-small: Whitney SSm SmallCaps A, Whitney SSm SmallCaps B, system,
  -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
$font-display: Whitney A, Whitney B, system, -apple-system, BlinkMacSystemFont,
  Avenir, sans-serif;
$font-code: Operator SSm A, Operator SSm B, Operator Mono, monospace;
$font-disp-cond: Whitney Cond A, Whitney Cond B, system, -apple-system,
  BlinkMacSystemFont, Avenir, sans-serif;

$base-font-size: 16px;

// -----------------------------------------
// SPACING RATIO
// -----------------------------------------

$ratio: 1rem;

$ratio-1: 0.75rem;
$ratio-2: 0.65rem;
$ratio-3: 0.4rem;

$ratio1: 1.3rem;
$ratio2: 2.6rem;

// -----------------------------------------
// Content Widths
// -----------------------------------------

$text-width: 36.6rem;

$content-width: $text-width * 1.3;
$wrapper-width: $content-width * 1.3;
