// -------------------------------
// TYPE
// -------------------------------

html {
  font-size: calc(#{$base-font-size} + 0.25vw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--text);
  font-family: $font-text;
  hyphens: auto;
  line-height: 1.4;
}

// HEADINGS ----------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-display;
  line-height: 1.3;
}

h1,
h2,
h5 {
  color: var(--heading);
}

// TEXT --------------------------

p {
  font-size: $ratio;
  line-height: 1.7;
  + p {
    margin-top: $ratio;
  }
}

h1 {
  line-height: 1.1;
}

h2 {
  font-size: $ratio1;
  font-weight: 700;
  line-height: 1.2;
  margin-top: $ratio1 * 1.5;
  margin-bottom: $ratio-3;
  + h3 {
    margin-top: $ratio1;
  }

  a:not(.heading-link) {
    color: inherit;
    display: inline-block;
    text-decoration: underline;
    -webkit-text-decoration-color: var(--primary);
    text-decoration-color: var(--primary);
    &:hover,
    &:focus {
      color: var(--primary);
    }
  }
}

h3 {
  color: var(--heading);
  font-weight: 700;
  margin-top: $ratio1 * 1.5;
  margin-bottom: 0.2rem;

  a:not(.heading-link) {
    color: inherit;
    display: inline-block;
    text-decoration: underline;
    -webkit-text-decoration-color: var(--primary);
    text-decoration-color: var(--primary);
    &:hover,
    &:focus {
      color: var(--primary);
    }
  }
}

h5 {
  font-size: $ratio-1;
  font-weight: 600;
  margin: 3rem 0 0.6rem;
  text-transform: uppercase;

  &:before {
    background-color: var(--border);
    content: '';
    display: block;
    height: 1px;
    margin-bottom: 5px;
    width: 90px;
  }
}

.p-body > ul:not(.slash-list):not(.author-archive):not(.search__results),
.e-content > ul,
blockquote > ul {
  margin-bottom: 1.1rem;
  margin-left: 2rem;
  margin-top: 1.1rem;
  li {
    font-size: $ratio;
    line-height: 1.7;
    position: relative;

    + li {
      margin-top: 0.6rem;
    }

    &:before {
      content: '';
      background: var(--primary);
      display: inline-block;
      width: 6px;
      height: 6px;
      position: absolute;
      left: -0.9rem;
      top: 0.65rem;
      border-radius: 50%;
    }

    ul {
      margin-left: 1rem;
      margin-top: 0.5rem;
    }
  }
  > li {
    margin-left: 1.6rem;
    padding-left: 4px;
  }
}

.p-body > ol,
.e-content > ol,
blockquote > ol {
  margin-bottom: 1.1rem;
  margin-left: 2rem;
  margin-top: 1.1rem;
  counter-reset: section;

  li {
    font-size: $ratio;
    line-height: 1.7;
    position: relative;

    + li {
      margin-top: 0.6rem;
    }

    &:before {
      color: var(--primary);
      text-align: right;
      position: absolute;
      counter-increment: section;
      content: counter(section);
      font-family: $font-code;
      font-size: 0.7em;
      left: -1.4rem;
      top: 0.5rem;
      line-height: 1;
    }

    &:nth-child(-n + 9):before {
      content: '0' counter(section);
    }

    ol {
      margin-left: 1rem;
      margin-top: 0.5rem;
      counter-reset: section;
    }
  }
  > li {
    margin-left: 1.6rem;
    padding-left: 4px;
  }
}

// INLINE TYPE -------------------

strong {
  font-weight: 600;
  em {
    font-style: italic;
    font-weight: 600;
  }
}

em,
cite {
  font-style: italic;
  font-weight: inherit;
}

mark {
  color: var(--text);
  background-color: var(--highlight);
  padding: 0 3px;
}

sup {
  font-size: $ratio-1;
}

p,
li,
figcaption,
button,
.post__date {
  .caps {
    font-family: $font-small;
  }
}

// BLOCKQUOTE --------------------
blockquote {
  border-left: 4px solid var(--primary);
  color: var(--light-text);
  margin-bottom: 1.1rem;
  margin-top: 1.1rem;
  padding-left: 0.75rem;
  > blockquote {
    margin-left: 0;
  }
  > ul {
    margin-left: 0;
    @media #{$large-up} {
      margin-left: 1.3rem;
    }
  }
  > ol {
    margin-left: 0;
    @media #{$small-only} {
      margin-left: 0.3rem;
    }
    @media #{$medium-only} {
      margin-left: 0.3rem;
    }
  }
}

// HR ----------------------------
hr {
  border: solid var(--border);
  border-width: 1px 0 0;
  display: block;
  height: 0;
  margin: 1.8rem auto;
  padding: 0;
}

// LINKS -------------------------

a {
  color: var(--link);
  font-weight: 600;
  -webkit-hyphens: none;
  hyphens: none;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--link-underline);
  text-decoration-color: var(--link-underline);
  text-decoration-skip: ink;
  transition: color 0.2s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: underline;
    -webkit-text-decoration-color: var(--link);
    text-decoration-color: var(--link);
  }
}
