<div class="header__topics">
  <button id="topics-close" class="header-topics__close">&times; <span class="caps">Close</span></button>
  <h2 class="header-topics__title">Browse by Section</h2>
  {% include_cached topics-list.html count=true %}
</div>

<header class="header" role="banner">

  <div class="header__wrap">
    <a href="/" class="logo-monogram">
      {% include_cached icons/icon-logo-monogram.html %}
    </a>

    <nav class="header__navigation">
      <ul>
        <li class="topics-menu">
          <button id="topics-toggle" class="topics-menu__label">Sections</button>       
        </li>
        <li><a class="header__subscribe" href="/subscribe/">Subscribe</a></li>
      </ul>
    </nav>
  </div>
</header>
