<ul>
  <li><a href="/apple/">Apple</a></li>
  <li><a href="/business/">Business</a></li>
  <li><a href="/code/">Code</a></li>
  <li><a href="/comics/">Comics</a></li>
  <li><a href="/design/">Design</a></li>
  <li><a href="/film/">Film</a></li>
  <li><a href="/from-the-editor/">From the Editor</a></li>
  <li><a href="/life/">Life</a></li>
  <li><a href="/music/">Music</a></li>
  <li><a href="/photography/">Photography</a></li>
  <li><a href="/podcasts/">Podcasts</a></li>
  <li><a href="/science/">Science</a></li>
  <li><a href="/sports/">Sports</a></li>
  <li><a href="/star-wars/">Star Wars</a></li>
  <li><a href="/tv/">TV</a></li>
  <li><a href="/tech/">Tech</a></li>
  <li><a href="/writing/">Writing</a></li>
</ul>
