// -------------------------------
// HEADER
// -------------------------------

body {
  position: relative;
}

.header {
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30rem;
    background-color: var(--primary);
  }
}

.header__wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  justify-content: space-between;
  width: 90%;

  @media screen and (min-width: 78em) {
    width: 100%;
  }
}

// Logo

.logo-monogram {
  display: grid;
  width: 2.6rem;
}

.icon-logo-monogram {
  fill: $alt-color;
  width: 100%;
}

// Navigation

.header__navigation {
  > ul {
    display: flex;
    align-items: center;
    li + li {
      margin-left: 1.2rem;
    }
  }

  .topics-menu__label {
    color: $alt-color;
    font-weight: 600;
    text-transform: uppercase;
    font-size: $ratio-1;
    background: none;
    border: 0;
    padding: 0;
  }
}

.header__subscribe {
  color: $alt-color;
  border: 3px solid $alt-color;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  display: inline;
  text-transform: uppercase;
  font-size: $ratio-1;
  transition: background-color 300ms ease-in-out;

  &:hover,
  &:focus {
    background-color: rgba(white, 0.1);
    text-decoration: none;
  }
}

.header-topics__close {
  background: none;
  border: 0;
  display: block;
  text-align: right;
  font-size: 0.9rem;
  padding: 0;
  padding-top: 1rem;
  transition: color 500ms ease-in-out;
  font-weight: 600;
  margin-bottom: 0.6rem;
  &:hover,
  &:focus {
    color: var(--primary);
  }
}

.header__topics {
  background-color: white;
  position: relative;
  z-index: 3;
  max-height: 0;
  overflow: hidden;
  transition: all 500ms ease-in-out;
  box-shadow: 0 10px 0 0 rgba(black, 0.1);

  &.js-is-open {
    max-height: 42rem;
  }

  > * {
    max-width: $wrapper-width;
    width: 90%;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 73em) {
      width: 100%;
    }
  }

  .header-topics__title {
    margin-top: 0;
    margin-bottom: 0.6rem;
    padding-top: 0.6rem;
    border-top: 3px solid $heading-color;
    text-transform: uppercase;
    font-size: $ratio;
  }

  > ul {
    display: grid;
    grid-column-gap: 1.6rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding-bottom: 1rem;
  }

  a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: $light-text-color;
    padding: 0.6rem 0;
    border-top: 3px solid $border-color;
    line-height: 1;
    font-size: $ratio-1;
    &:hover,
    &:focus {
      color: var(--primary);
    }

    span {
      font-family: $font-code;
      font-size: $ratio-1;
    }
  }
}
