// -------------------------------
// HEADER
// -------------------------------

.home {
  position: relative;
}

.header--home {
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30rem;
    background-color: $primary-color;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

.header__wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  justify-content: space-between;

  width: 90%;

  @media screen and (min-width: 78em) {
    width: 100%;
  }

  .header--home & {
    align-items: flex-start;
    padding-bottom: $ratio1;
    padding-top: $ratio1;

    @media #{$small-only} {
      flex-direction: column-reverse;
    }
  }
}

// Logo

.site__branding {
  margin-bottom: $ratio1;
}

.logo {
  display: grid;
  width: 15rem;
}

.logo-monogram {
  display: grid;
  width: 2.6rem;
}

.icon-logo {
  fill: $alt-color;
  width: 100%;
}

.icon-logo-monogram {
  fill: $primary-color;
  width: 100%;
}

.header__byline {
  color: white;
  font-size: $ratio-1;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.header__description {
  max-width: 16rem;
  font-size: $ratio-1;
  line-height: 1.4;
  color: white;
  margin-top: 0.6rem;
}

// Navigation

.header__navigation {
  .home & {
    @media #{$small-only} {
      margin-bottom: 1.4rem;
    }
  }

  > ul {
    display: flex;
    align-items: center;
    li + li {
      margin-left: 1.2rem;
    }
  }

  .topics-menu__label {
    color: $primary-color;
    font-weight: 600;
    text-transform: uppercase;
    font-size: $ratio-1;
    background: none;
    border: 0;

    .home & {
      color: $alt-color;
      display: inline-block;
    }
  }
}

.header__subscribe {
  color: $primary-color;
  border: 3px solid $primary-color;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  display: inline;
  text-transform: uppercase;
  font-size: $ratio-1;
  transition: background-color 300ms ease-in-out;

  &:hover,
  &:focus {
    background-color: rgba(white, 0.1);
    text-decoration: none;
  }

  .home & {
    color: $alt-color;
    border: 3px solid $alt-color;
    display: inline-block;
  }
}

.header-topics__close {
  background: none;
  border: 0;
  display: block;
  text-align: right;
  font-size: 0.9rem;
  padding: 0;
  padding-top: 1rem;
  transition: color 500ms ease-in-out;
  &:hover,
  &:focus {
    color: $primary-color;
  }
}

.header__topics {
  background-color: white;
  border-bottom: 10px solid $border-color;
  position: relative;
  z-index: 3;
  max-height: 0;
  overflow: hidden;
  transition: all 500ms ease-in-out;

  &.js-is-open {
    max-height: 42rem;
  }

  .home & {
    border-bottom: 10px solid darken($primary-color, 10%);
  }

  > * {
    max-width: $wrapper-width;
    width: 90%;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 73em) {
      width: 100%;
    }
  }

  .header-topics__title {
    margin-top: 0;
    margin-bottom: 0.6rem;
    padding-top: 0.6rem;
    border-top: 3px solid $heading-color;
    text-transform: uppercase;
    font-size: $ratio;
  }

  > ul {
    display: grid;
    grid-column-gap: 1.6rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding-bottom: 1rem;
  }

  a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: $light-text-color;
    padding: 0.6rem 0;
    border-top: 3px solid $border-color;
    line-height: 1;
    font-size: $ratio-1;
    &:hover,
    &:focus {
      color: $primary-color;
    }

    span {
      font-family: $font-code;
      font-size: $ratio-1;
    }
  }
}
