// -----------------------------------------
// MAIN LAYOUT COMPONENTS
// -----------------------------------------

.header__wrap,
.main,
.footer {
  width: 100%;
  max-width: $wrapper-width;
  margin-left: auto;
  margin-right: auto;
}
