---
layout: default
---

<div class="p-body">
  {% unless page.hide_title %}
    <header class="page__header">
      {% assign catCount = site.categories[page.title] | size %}
      <h1 class="page-header__title" id="page-title">{{ page.title | smartify | widont }} <small>{{ catCount }}</small></h1>
      {% if page.description %}
        <p class="page-header__description">{{ page.description | markdownify | smartify | widont | remove: '<p>' | remove: '</p>' }}</p>
      {% endif %}
    </header>
  {% endunless %}

  {% assign category = page.title %}
  {% for post in site.categories[category] %}
    {% include post-list.html %}
  {% endfor %}
</div>

{% include ad.html %}

